<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1">


		{% load staticfiles %}

		<title>Leo Wajnsztok</title>

		<link href= {% static "assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" %} rel="stylesheet">
		<style type="text/css">
			@font-face {
				font-family: 'menlo';
				src: url("{% static 'assets/font/Menlo.ttc' %}"), local("{% static 'assets/font/Menlo.ttc' %}");
			}
		</style>
		<link href= {% static "blog/stylesheet.css" %} rel="stylesheet">

	</head>
	<body>

		<!--  Navigation Bar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Leo Wajnsztok</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active">
							<a href="/blog/">Blog</a>
						</li>
						<li>
							<a href="#">Projects</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Language</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		
		<!-- Blog Content -->
		<div class="container">
			<div class="row">
			
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					
					<div class="row">
						<div class="row">

							{% for p in posts %}

							<div class="row">
								<div class="col-xs-12">
									<h1 class="page-header">{{p.titulo}}</h1>
								</div>
							</div>
						
							{% if p.codigo %}
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1" id="htmPane">
						            <div class="jumbotron editor" id="editor{{forloop.counter0}}">{{p.codigo}}</div>
								</div>
							</div>
							{% endif %}

							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1" >
									
						            <span class="post-text">{{p.texto_html | default:""  | safe }}</span>
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<span class="post-footer"><p>Author: {{p.autor}}</p></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<span class="post-footer"><p>Written: {{p.data_criacao}}</p></span>
								</div>
							</div>
							

							{% endfor %}
						</div>
					</div>

				</div>	
			

				

				<!-- Paginacao -->
				<!-- <nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav> -->
				
			</div>	
		</div>
		

		<!-- Scripts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src= {% static "assets/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "assets/ace-builds/src-noconflict/ace.js" %} type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src= {% static "assets/js/blog.js" %}></script>
		<script type="text/javascript" src= {% static "assets/konami/konami.js" %}></script>

		<!-- Ferramentas de analytics -->
		{% include 'includes/analytics.html' %}

	</body>
</html>