<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% load staticfiles %}
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Leo Wajnsztok</title>
		<!-- Bootstrap -->
		<link href="static/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->


		<style>

			@font-face {
				font-family: 'menlo';
				src: url('{% static 'font/menlo.ttc' %}');
				src: local('{% static 'font/menlo.ttc' %}');
			}

			body {
			  padding-top: 60px;
			  font-family: "menlo";
			  background: #272822;
			  color: #F8F8E6
			}
			@media (max-width: 979px) {
			  body {
			    padding-top: 0px;
			  }
			}

			li {
				margin: 0.4rem;
			}

			#home_header {
				margin-bottom: 0rem;
				padding-top: 1rem;
				color: #5FC7DA;
			}

			.page-header {
				color: #F9264B;
			}

			.keyword-subject {
				color: #A6E22E;
			}

			.keyword-institute {
				color: #AE81FF;
			}

			#profile-pic {
				max-width: 12rem;
				max-height: 12rem;
				margin-top: 3rem;
				margin-bottom: 0;
			}

			.social-media {
				margin-top: 6rem;
				text-align: right;
			}

		</style>
	</head>
	<body>
		<!--  NAVIGATION BAR -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Leo Wajnsztok</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Projects</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Language</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- FIM NAVIGATION BAR -->
		<!-- CONTEUDO -->
		<div class="container">
			<div class="row">
				

				<!-- PAGE HEADER -->
				<div id="home_header" class="page-header col-md-6">
				  <h2>Leonardo Edelman Wajnsztok</h2>
				</div>
				<!-- FIM PAGE HEADER -->

				<!-- REDES SOCIAIS -->
				<div class="social-media col-xs-6 col-xs-offset-1 col-md-offset-0 col-md-4">
					<p><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=1566e31c8eaa9161">leo.wajnsztok@gmail.com</a></p>
					<p><a target="_blank" href="https://github.com/leotok">github.com/leotok</a></p>
					<p><a target="_blank" href="https://br.linkedin.com/in/leonardowajnsztok">linkedin.com</a></p>
				</div>
				<!-- FIM REDES SOCIAIS -->

				<!-- FOTO DE PERFIL -->
				<div class="col-xs-5  col-md-2">
					<img id="profile-pic" class="img-circle" src="{% static 'assets/img/Leo_profile.jpg' %}">
				</div>
				<!-- FIM FOTO DE PERFIL -->

				<!-- CURRICULO -->
				<div class="container-fluid">
					
					<h3 class="page-header">Education</h3>
					<ul>
						<li><span class="keyword-subject">Computer Engineering</span>, <span class="keyword-institute">Pontifical Catholic University</span> as! PUC-Rio 2013 - 2017</li>
						<li>Technical School, <span class="keyword-subject">Eletronics</span>: <span class="keyword-institute">ORT Institute</span> 2010 - 2012</li>
						<li>Highschool: <span class="keyword-institute">ORT Institute</span> 2010 - 2012</li>
					</ul>

					<h3 class="page-header">Work Experience</h3>
					<ul>
						<li><span class="keyword-subject">Web and iOS Development</span> Internship at <a target="_blank" href="http://www.legalcloud.com.br"><span class="keyword-institute">Legalcloud</span></a> (start-up) april/2016 - present
							<ul>
								<li>Cloud based tech solutions for law firms and lawyers</li>
								<li>Web development using <span class="keyword-subject">Python</span> with <span class="keyword-subject">Django</span> Web Framework and <span class="keyword-subject">PostgreSQL</span></li>
							</ul>
						</li>
						
						<li><span class="keyword-subject">iOS Development</span> Internship at <a target="_blank" href="http://bepid.les.inf.puc-rio.br"><span class="keyword-institute">BEPiD</span></a> nov/2014 - dec/2015
							<ul>
								<li><span class="keyword-institute">Apple</span>’s education program in partnership with <span class="keyword-institute">PUC-Rio</span>’s Software Engineering Laboratory</li>
								<li>Mobile development for iOS using both <span class="keyword-subject">Swift</span> and <span class="keyword-subject">Objective-C</span></li>
							</ul>
						</li>
						
						<li><span class="keyword-subject">Teaching Assistant</span> for Programming 1 and 2 classes (<span class="keyword-subject">C</span> programming language), <span class="keyword-institute">PUC-Rio</span> feb/2014 - dec/2014</li>
						
						<li><span class="keyword-subject">Private tutor</span> for Programming (<span class="keyword-subject">C</span> and <span class="keyword-subject">Python</span> programming languages)</li>
						
						<li>Member of the <span class="keyword-subject">robotics</span> team <a target="_blank" href="https://www.facebook.com/riobotz/?fref=ts"><span class="keyword-institute">Riobotz</span></a>, <span class="keyword-institute">PUC-Rio</span> oct/ 2013 - dec/2015
							<ul>
								<li>Development of combat, autonomous and radio controlled robots</li>
								<li>Responsible for the autonomous robots area during 2014</li>
								<li>Experience with <span class="keyword-subject">Arduino</span> and <span class="keyword-subject">mBed</span> platforms</li>
							</ul>
						</li>

						<li>Internship in the Hardware Laboratory at <span class="keyword-institute">ORT Institute</span> - 2012
							<ul>
								<li>Technical support, maintenance of the computers and local network</li>
							</ul>
						</li>
					</ul>

					<h3 class="page-header">Technical Skills</h3>
					<ul>
						<li>Python (Django), Swift, Objective-C, Javascript (jQuery), C, Assembly</li>
						<li>HTML and CSS (Foundation, Bootstrap)</li>
						<li>PostgreSQL Database</li>
						<li>Git: Git Flow</li>
					</ul>

					<h3 class="page-header">Languages</h3>
					<ul>
						<li>Native Portuguese</li>
						<li>Fluent English</li>
						<li>Hebrew - TTH Bar-Ilan school and Ulpan Or (Kita Bet)</li>
					</ul>

				</div>

				<!-- FIM CURRICULO -->

				<!-- PAGINACAO -->
				<!-- <nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav> -->
				<!-- FIM PAGINACAO -->
			</div>	
		</div>
		<!-- FIM CONTEUDO -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="static/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>