
<!-- Firebase Analytics -->

<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8vs2TV9vuAC0kCySHaBlo1xKxZ-CYh4U",
    authDomain: "leo-wajnsztok.firebaseapp.com",
    databaseURL: "https://leo-wajnsztok.firebaseio.com",
    storageBucket: "leo-wajnsztok.appspot.com",
    messagingSenderId: "425607495727"
  };
  firebase.initializeApp(config);
</script>

<!-- Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86478867-1', 'auto');
  ga('send', 'pageview');

</script>