<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1">


		{% load staticfiles %}

		<title>Leo Wajnsztok</title>

		<link href= {% static "assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" %} rel="stylesheet">
		<style type="text/css">
			@font-face {
				font-family: 'menlo';
				src: url("{% static 'assets/font/Menlo.ttc' %}"), local("{% static 'assets/font/Menlo.ttc' %}");
			}
		</style>

		<style>
			body {
			  padding-top: 60px;
			  font-family: "menlo";
			  background: white;
			}
			@media (max-width: 979px) {
			  body {
			    padding-top: 0px;
			  }
			}

			li {
				margin: 0.4rem;
			}

			#home_header {
				margin-bottom: 0rem;
				padding-top: 1rem;
				color: #5FC7DA;
			}

			.title {
				color: rgb(255, 57, 124)
			}
		</style>

	</head>
	<body>

		<!--  Navigation Bar -->
		{% include 'includes/nav-bar.html' with active='projects' %}		

		
		<!-- Blog Content -->
		<div class="container">
			<div class="row">
			
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					
					<div class="row">
						<div class="col-sm-12">
							<h1 class="title">Github Projects</h1>
						</div>
					</div>

					<div class="row">
						{% for proj in projects %}

								<hr>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<a href="{{proj.html_url}}"><h2>{{proj.name}}</h2></a>	
									</div>
									<div class="col-md-3 col-sm-6">
										{% if proj.stargazers_count > 0 %}
											<h4>{{proj.stargazers_count}} stars</h4>
										{% endif %}	
									</div>
									<div class="col-md-3 col-sm-6">
										<h4>{{ proj.language | default:'' }}</h4>	
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<p>{{ proj.description | default:'' }}</p>
									</div>
								</div>								
								
						{% endfor %}

					</div>

				</div>	
			

				

				<!-- Paginacao -->
				<!-- <nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav> -->
				
			</div>	
		</div>
		

		<!-- Scripts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src= {% static "assets/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src= {% static "assets/konami/konami.js" %}></script>

		<!-- Ferramentas de analytics -->
		{% include 'includes/analytics.html' %}

	</body>
</html>